*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    display:flex;
    background:#f3f4f6;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    height:100vh;
    background:#14532d;
    color:white;
    padding:40px 25px;
    position:fixed;
}

.sidebar h2{
    margin-bottom:50px;
    font-size:32px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:18px;
    margin-bottom:15px;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
    font-size:18px;
}

.sidebar ul li:hover{
    background:#22c55e;
    transform:translateX(8px);
}

/* MAIN CONTENT */

.main-content{
    margin-left:260px;
    width:100%;
    padding:40px;
}

/* TOP SECTION */

.top-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.top-section h1{
    font-size:42px;
    color:#14532d;
}

.top-section input{
    width:320px;
    padding:15px;
    border:none;
    border-radius:14px;
    background:white;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    font-size:16px;
}

/* ALERT */

.alert-box{
    background:#facc15;
    color:#333;
    padding:18px;
    border-radius:16px;
    margin-bottom:35px;
    font-weight:600;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

/* STUDENT CARDS */

.cards{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.student-card{
    width:320px;
    background:white;
    padding:30px;
    border-radius:24px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.student-card:hover{
    transform:translateY(-10px);
}

.student-card h2{
    color:#14532d;
    margin-bottom:10px;
}

.student-card p{
    margin:10px 0;
    color:#555;
}

.grade{
    margin-top:20px;
    padding:12px;
    border-radius:10px;
    color:white;
    font-weight:600;
    width:fit-content;
}

.good{
    background:#22c55e;
}

.warning{
    background:#f59e0b;
}

.danger{
    background:#ef4444;
}